.navbar{
    width: 100%;
}
.navbar-header{
    background-color: teal;
    color: white;
    
}


* {
    box-sizing: border-box;
}
/* row{
    float: left;
} */
.about_me{
    color: teal;
    margin-top: 0;
}
img{
    float: left;
    width: 200px;
    height: 200px;
    padding-right: 20px;
    padding-left: 20px;
}
/* .container{
    width: 960px;
    background-color: lightgrey;
    margin: auto;
    clear: both;
} */
.container{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}
.work img{
    width: 100%;
    border: 0 none;
    opacity: 0/8;
}
.work h3{
    position: absolute;
    bottom: 20px;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    background-color: teal;
    color: white;
}


/* main */
#main-container{
    padding-top: 10px;
    min-height: calc(100vh - 70px);
    background-color: lightgray
}
.about_text{
    float: left;
    width: 100%;
    max-width: 960px;
    padding: 30 px;
    margin: 0 0 40px;
    background: #fff;
    border: 1 px solid #ddd;
}
p{
/*  float: left */
    padding-right: 20px;
    padding-left: 20px;
}
col{
    float: left;
}
#button-submit{
    background-color: teal;
    color: white;
}